<div class="cart">
  <div class="container">
    <div class="cart-title">Корзина</div>
    <div class="cart-info">
      <div class="cart-products">
        <div class="cart-product">
          <div class="cart-product-image"></div>
          <div class="cart-product-name">Сансевиерия трехпучковая Муншайн</div>
          <count-selector></count-selector>
          <div class="cart-product-price">100 BYN</div>
          <div class="cart-product-remove">
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.935622" y1="1.50635" x2="12.9564" y2="13.5272" stroke="#A8ABA7" stroke-linecap="round"/>
              <line x1="12.9238" y1="1.4864" x2="0.903013" y2="13.5072" stroke="#A8ABA7" stroke-linecap="round"/>
            </svg>
          </div>
        </div>
        <div class="cart-product">
          <div class="cart-product-image"></div>
          <div class="cart-product-name">Сансевиерия трехпучковая Муншайн</div>
          <count-selector></count-selector>
          <div class="cart-product-price">100 BYN</div>
          <div class="cart-product-remove">
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.935622" y1="1.50635" x2="12.9564" y2="13.5272" stroke="#A8ABA7" stroke-linecap="round"/>
              <line x1="12.9238" y1="1.4864" x2="0.903013" y2="13.5072" stroke="#A8ABA7" stroke-linecap="round"/>
            </svg>
          </div>
        </div>
        <div class="cart-product">
          <div class="cart-product-image"></div>
          <div class="cart-product-name">Сансевиерия трехпучковая Муншайн</div>
          <count-selector></count-selector>
          <div class="cart-product-price">100 BYN</div>
          <div class="cart-product-remove">
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="0.935622" y1="1.50635" x2="12.9564" y2="13.5272" stroke="#A8ABA7" stroke-linecap="round"/>
              <line x1="12.9238" y1="1.4864" x2="0.903013" y2="13.5072" stroke="#A8ABA7" stroke-linecap="round"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="cart-details">
        <div class="cart-details-info">
          <div class="cart-details-info-title">Ваш заказ</div>
          <div class="cart-details-info-item first">
            <div class="cart-details-info-item-text">Товаров:</div>
            <div class="cart-details-info-item-data">4</div>
          </div>
          <div class="cart-details-info-item">
            <div class="cart-details-info-item-text">Общая стоимость:</div>
            <div class="cart-details-info-item-data">147 BYN</div>
          </div>
          <div class="cart-details-info-delivery">* без учета доставки</div>
        </div>
        <div class="cart-details-actions">
          <button class="button button-transparent" routerLink="/catalog">Продолжить покупки</button>
          <button class="button" routerLink="/order">Оформить заказ</button>
        </div>
      </div>
    </div>
  </div>
</div>
