@import "../../../assets/styles/variables";

.main {
  background-image: url("../../../assets/images/page/main.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 210px);
  padding-top: 58px;
  padding-bottom: 231px;

  .container {
    .main-title {
      font-family: "Lora", sans-serif;
      font-weight: 400;
      font-size: 60px;
      line-height: 130%;
      color: #2A592E;
      margin-bottom: 67px;
    }

    .main-text {
      font-size: 18px;
      line-height: 140%;
      color: $green-text-color;
      max-width: 528px;
    }
  }
}
